[user]
	name = Doug MacEachern
	email = dougm@vmware.com
[color]
	grep = auto
	ui = auto
	interactive = auto
	branch = auto
	diff = auto
	status = auto
[color "sh"]
	branch = yellow reverse
	workdir = blue bold
	dirty = red
[core]
	excludesfile = ~/.gitignore
	whitespace = trailing-space,space-before-tab
	editor = mg
[apply]
	whitespace = fix
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
        mr = merge --no-ff
	fuckthis = checkout -f
        graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)(%an)%Creset' --abbrev-commit --date=relative
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
        log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
        changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
        short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
        changelog = log --pretty=format:\" * %s\"
        shortnocolor = log --pretty=format:\"%h %cr %cn %s\"
        incoming = !git fetch && git log ..origin/master
        outgoing = !git fetch && git log origin/master..
        chead = !git fetch && git checkout origin/master
[branch]
	autosetupmerge = true
[merge]
	renameLimit = 999999
	tool = ediff
[mergetool]
	prompt = false
[mergetool.ediff]
	cmd = emacs --eval \" \
(progn \
  (setq ediff-quit-hook 'kill-emacs) \
  (if (file-readable-p \\\"$BASE\\\") \
      (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \
                                       \\\"$BASE\\\" nil \\\"$MERGED\\\") \
      (ediff-merge-files \\\"$LOCAL\\\" \\\"$REMOTE\\\" nil \\\"$MERGED\\\")))\"
